*{
    margin: 0;
    padding: 0;
}

/*--INDEX--*/

/*HEADER*/
.header-navbar{
    background-color: #353a40;
}
.header-logo{
    height: 4rem;
}
.header-title{
    color: white;
    font-size: 1.5rem;
}
a.header-nav-button{
    color: #777;
}
a.header-nav-button:hover{
    color: rgba(255, 255, 255, 0.476);
}
a.header-nav-button:focus{
    color: white;
}
a.header-nav-button-green{
    color: #1b8f34;
}
a.header-nav-button-green:hover,
a.header-nav-button-green:focus{
    color: #27a743;
}

/*SECTION*/
/*carousel*/
.carousel-img{
    height: 35rem;
    opacity: 0.5;
}
.carousel-text{
    top: 60%;
    left: 100%;
    transform: translate(-110%, -50%);
}
a.carousel-btn{
    color: white;
    border: white 1px solid;
}
a.carousel-btn:hover{
    background-color: rgba(255, 255, 255, 0.195);
}
a.carousel-btn-green,
a.carousel-btn-green:focus{
    background-color: #1b8f34;
    border: none;
}
a.carousel-btn-green:hover{
    background-color: #27a743;
}

/*cards*/
.title-cards-2{
    font-size: 2rem;
}
.cards-specialization{
    font-size: 0.9rem;
}
.card-title{
    font-size: 1.6rem;
}

/*description*/
.description-img{
    border: white solid 1px;
}
.description-div{
    background-color: #353a40;
    border: white solid 1px;
}
a.description-btn{
    border: white 1px solid;
}
a.description-btn:hover{
    background-color: rgba(255, 255, 255, 0.195);
}

/*forms*/
button.form-btn,
button.form-btn:focus{
    background-color: #96c93e;
    border: none;
}
button.form-btn:hover{
    background-color: #a2d151;
    border: none;
}
.form-textarea::placeholder{
    font-size: 1.3rem;
}

/*FOOTER*/
footer{
    background-color: #1d4054;
}

/*--BUY_TICKETS--*/

/*SECTION*/
/*buy_tickets cards*/
.buy_tickets__section__cards{
    display: flex;
    justify-content: center;
}
.buy_tickets__section__cards__student,
.buy_tickets__section__cards__trainee,
.buy_tickets__section__cards__junior{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy_tickets__section__cards__student{
    border: 1.5px rgb(78, 122, 226) solid;
}
.buy_tickets__section__cards__trainee{
    border: 1.5px rgb(55, 175, 151) solid;
}
.buy_tickets__section__cards__junior{
    border: 1.5px rgb(255, 208, 0) solid;
}
.buy_tickets__section__cards__title{
    font-size: 1.2rem;
}
.buy_tickets__section__cards__lighttext{
    font-size: 0.8rem;
}
.buy_tickets__section__form__total{
    background-color: #cce5ff;
    display: flex;
    color: #2e6c90;
}
.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #27a743 !important;
}