
/*HEADER*/
.header-navbar{
    background-color: #353a40;
}
.header-logo{
    height: 4rem;
}
.header-title{
    color: white;
    font-size: 1.5rem;
}
a.header-nav-button{
    color: #777;
}
a.header-nav-button:hover{
    color: rgba(255, 255, 255, 0.476);
}
a.header-nav-button-green{
    color: #1b8f34;
}
a.header-nav-button-green:hover{
    color: #27a743;
}

/*SECTION*/
/*carousel*/
.carousel-img{
    max-height: 40rem;
    opacity: 0.5;
}
.carousel-text{
    top: 60%;
    left: 100%;
    transform: translate(-110%, -50%);
}
a.carousel-btn{
    color: white;
    border: white 1px solid;
}
a.carousel-btn:hover{
    background-color: rgba(255, 255, 255, 0.195);
}
a.carousel-btn-green{
    background-color: #1b8f34;
    border: none;
}
a.carousel-btn-green:hover{
    background-color: #27a743;
}

/*cards*/
.title-cards-2{
    font-size: 2rem;
}
.cards-specialization{
    font-size: 0.9rem;
}
.card-title{
    font-size: 1.6rem;
}

/*description*/
.description-img{
    border: white solid 1px;
}
.description-div{
    background-color: #353a40;
    border: white solid 1px;
}
a.description-btn{
    border: white 1px solid;
}
a.description-btn:hover{
    background-color: rgba(255, 255, 255, 0.195);
}

/*forms*/
button.form-btn,button.form-btn:focus{
    background-color: #96c93e;
    border: none;
}
button.form-btn:hover{
    background-color: #a2d151;
    border: none;
}

/*FOOTER*/
footer{
    background-color: #1d4054;
}
